<!-- app/views/pages/index.html.erb -->

<%= content_for :title, "Landing Page" %>

<!-- Hero Section -->
<section class="bg-indigo-800 text-white py-20 px-20">
  <div class="container mx-auto">
    <h1 class="text-4xl md:text-6xl font-bold mb-8">Welcome to CropConnect</h1>
    <p class="text-xl mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "px-6 py-3 bg-indigo-600 text-white font-medium rounded hover:bg-indigo-700" %>
  </div>
</section>

<!-- Features Section -->
<section class="bg-white py-20  px-20">
  <div class="container mx-auto">
    <h2 class="text-4xl md:text-5xl font-bold mb-12 text-center">Features</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
        <div class="bg-indigo-100 rounded-lg p-6">
          <h3 class="text-xl font-semibold mb-4">Feature 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
        <div class="bg-indigo-100 rounded-lg p-6">
          <h3 class="text-xl font-semibold mb-4">Feature 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
        <div class="bg-indigo-100 rounded-lg p-6">
          <h3 class="text-xl font-semibold mb-4">Feature 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="bg-indigo-800 text-white py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl md:text-5xl font-bold mb-8">Join Us Today</h2>
    <p class="text-xl mb-8">Sign up now and start exploring all the amazing features of our app.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "px-6 py-3 bg-indigo-600 text-white font-medium rounded hover:bg-indigo-700" %>
  </div>
</section>
