<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New rice</h1>

  <%= render "form", rice: @rice %>

  <%= link_to 'Back to Dashboard', farmer_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
